<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button class="btn btn-outline-success" type="submit" data-bs-toggle="modal" data-bs-target="#exampleModal">add
            employee</button>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-body">
                <form [formGroup]="forms" (ngSubmit)="clickHere()">
                    <div class="mb-3">
                        <label for="firstName" class="form-label">firstName</label>
                        <input type="text" formControlName="firstName" class="form-control" id="firstName">
                    </div>
                    <div class="mb-3">
                        <label for="lastName" class="form-label">lastName</label>
                        <input type="text" formControlName="lastName" class="form-control" id="lastName">
                    </div>
                    <div class="mb-3">
                        <label for="companyName" class="form-label">companyName</label>
                        <input type="text" formControlName="companyName" class="form-control" id="companyName">
                    </div>
                    <div class="mb-3">
                        <label for="number" class="form-label">number</label>
                        <input type="tel" formControlName="number" class="form-control" id="number">
                    </div>
                    <div class="mb-3">
                        <label for="email" class="form-label">email</label>
                        <input type="email" formControlName="email" class="form-control" id="email">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        <button class="btn btn-primary" (click)="addEmployeeDetials(this.forms.value)" type="submit"
                            [disabled]="this.forms.invalid">submit</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>


<div class="container-fluid-mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">s.no</th>
                        <th scope="col">firstName</th>
                        <th scope="col">lastName</th>
                        <th scope="col">companyName</th>
                        <th scope="col">number</th>
                        <th scope="col">email</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let form of data;index as i">
                        <th scope="row">{{1++i}}</th>
                        <td>{{form.firstName}}</td>
                        <td>{{form.lastName}}</td>
                        <td>{{form.companyName}}</td>
                        <td>{{form.number}}</td>
                        <td>{{form.email}}</td>
                        <td><button routerLink="/update/{{form.id}}" class="btn btn-primary">Edit</button>&nbsp;
                            <button class="btn btn-danger" (click)="deleteEmployeeDetials(form.id)">Delete</button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>