<nav class="navbar bg-body-tertiary">
    <div class="container-fluid">
        <button class="btn btn-outline-success" type="submit" routerLink="createemplooye">add
            employee</button>
    </div>
</nav>

<!--datapass-->
<div class="container-fluid-mt-3">
    <div class="row justify-content-center">
        <div class="col-12 col-lg-8">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">s.no</th>
                        <th scope="col">firstName</th>
                        <th scope="col">lastName</th>
                        <th scope="col">companyName</th>
                        <th scope="col">number</th>
                        <th scope="col">email</th>
                        <th scope="col">Action</th>

                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let form of data;index as i">
                        <th scope="row">{{1++i}}</th>
                        <td>{{form.firstName}}</td>
                        <td>{{form.lastName}}</td>
                        <td>{{form.companyName}}</td>
                        <td>{{form.number}}</td>
                        <td>{{form.email}}</td>
                        <div>
                            <td><button routerLink="/update/{{form.id}}" class="btn btn-primary">Edit</button>&nbsp;
                                <button class="btn btn-danger" (click)="deleteEmployeeDetials(form.id)">Delete</button>
                            </td>
                        </div>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>